Vagrant.configure('2') do |config|
  config.vm.provider :digital_ocean do |provider, override|
    override.ssh.private_key_path = '~/.ssh/id_rsa'
    override.vm.box = 'digital_ocean'
    override.vm.box_url = "https://github.com/smdahlen/vagrant-digitalocean/raw/master/box/digital_ocean.box"

    provider.token = "YOUR DIGITAL OCEAN PERSONAL ACCESS TOKEN"
    provider.image = 'Ubuntu 14.04 x64'
    provider.region = 'sfo1'
    provider.size = '1GB'
  end

  config.vm.define :jenkins do |jenkins|
    config.vm.provision :shell, :path => "jenkins-installer.sh"
  end
end
